<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Multiterm</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<style>
    iframe {
        overflow: hidden;
        border: 1px solid #666;

    }

    body {
        background-color: #666;
    }
</style>
<link rel="stylesheet" href="static/gruvbox.css">
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<body>

<input type="button" id="create" class="btn btn-primary btn-sm" value="New Terminal">
<div id="iframe_div">
</div>
</body>
<script>
    var file_src = "/new";

    $('#create').click(function () {
        $('<iframe>')                      // Creates the element
            .attr('src', file_src) // Sets the attribute spry:region="myDs"

            .attr('height', 300)
            .attr('width', 400)
            .attr('frameBorder', '0')
            .attr('scrolling', 'no')

            .appendTo('#iframe_div');
    });

</script>
</html>